<!DOCTYPE html>
<html lang="en">


<!-- molla/index-17.html  22 Nov 2019 10:00:25 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
     <link rel="stylesheet" href="assets/css/demos/demo-4.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-17.css">
    <link rel="stylesheet" href="assets/css/demos/demo-17.css">
    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="page-wrapper">  
        <header class="header header-6" style="background-color:#D9D9D9;">
            <div class="header-top" style="background-color:#5F5F5F;height: 50px;width: 100%;">
                <div class="container ">
                    <div class="header-left  pt-2">
                        <ul class="top-menu top-link-menu d-none d-md-block ">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:+917736746689"><i class="icon-phone"></i>Call: +91 7736746689</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->
                    <div class="header-center pt-1 ">
                        <p style="color: #FFFFFF;font-size: 15px;font-family: 'Kaisei Decol', serif;">THE MAGICAL WORLD OF JACK.</p>
                    </div>
                    <div class="header-right pt-2 ml-1">
            
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a href="#">Links</a>
                                {{#if user}}
                                <ul>
                                    <li><a href="/logout"><i class="icon-user"></i>Logout</a></li>
                                </ul>
                                    {{else}}
                                    <ul>
                                        <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                                    </ul>
                                {{/if}}
                            </li>
                        </ul><!-- End .top-menu -->

                        {{!-- <div class="header-dropdown">
                            <a href="#">USD</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown --> --}}
                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/search" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    
                                    <input type="search" class="form-control" name="search" id="q" placeholder="Search product ..." required>
                                    <button class="btn btn-primary mr-5" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                
                    <div class="header-center">
                        <a href="index.html" class="logo">
                            {{!-- <img src="assets/images/demos/demo-6/logo1.png" alt="Molla Logo" width="82" height="20"> --}}
                            <p style="font-size: 30px;font-family: 'Kaisei Decol', serif;color:#000000 ;">MR JACK</p>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count" id="wish-count">{{wishcount}}</span>
                            <span class="wishlist-txt d-none d-lg-block ">My Wishlist</span>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count" id="cart-count">{{cartcount}}</span>
                                 <span class="cart-txt d-none d-lg-block">My Cart</span>
                            </a>

                            
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu ">
                                <li class="megamenu-container active">
                                    <a href="/" class="">Home</a>

                                    
                                </li>
                                <li>
                                    <a href="/allproduct" class="">Products</a>

                                    
                                </li>
                                 <li>
                                    <a href="/dashboard" class="">Dashboard</a>

                                    
                                </li>
                                <li>
                                    <a href="/orders" class="">Orders</a>
                                </li>
                                   
                         
                                
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="intro-section bg-lighter pt-3">
                <div class="container">
                    <div class="banner-group">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="banner banner-big banner-overlay">
                                    <a href="#">
                                        <img src="/banner/1.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-bottom">
                                        <h4 class="banner-subtitle text-white"><a href="#">Trending now</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">The Focus and Accent <br>On Your Spring Wardrobe</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-7">
                                <div class="banner banner-overlay">
                                    <a href="#">
                                        <img src="/banner/2.jpg" alt="Banner">
                                    </a>

                                    <div class="banner-content banner-content-right">
                                        <h4 class="banner-subtitle text-white"><a href="#">clearance</a></h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title text-white"><a href="#">Clearance It’s On <br>Up To 50% Off</a></h3><!-- End .banner-title -->
                                        <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="/banner/3.jpg" alt="Banner">
                                            </a>

                                            <div class="banner-content banner-content-top ">
                                                <h4 class="banner-subtitle text-white"><a href="#">you might love</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">This Week's <br>Most Wanted</a></h3><!-- End .banner-title -->
                                                <a href="#" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="/banner/4.jpg" alt="Banner">
                                            </a>

                                            <div class="banner-content  banner-content-top banner-content-reverse">
                                                <h4 class="banner-subtitle text-white"><a href="#">The new pretty</a></h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-white"><a href="#">How To Dress<br>For Spring</a></h3><!-- End .banner-title -->
                                                <a href="#" class="banner-link">Discover Now <i class="icon-long-arrow-right"></i></a>
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-7 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->
                </div><!-- End .container -->

                <div class="icon-boxes-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rocket"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                        <p>Orders $50 or more</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                            
                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-rotate-left"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                        <p>Within 30 days</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-info-circle"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                        <p>When you sign up</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="icon-box icon-box-side">
                                    <span class="icon-box-icon">
                                        <i class="icon-life-ring"></i>
                                    </span>

                                    <div class="icon-box-content">
                                        <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                        <p>24/7 amazing services</p>
                                    </div><!-- End .icon-box-content -->
                                </div><!-- End .icon-box -->
                            </div><!-- End .col-sm-6 col-lg-3 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .icon-boxes-container -->
            </div><!-- End .bg-lighter -->

            <div class="container">
                <h2 class="title text-center">Currently Popular Items</h2><!-- End .title -->

                <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-new-link" data-toggle="tab" href="#tab-new" role="tab" aria-controls="tab-new" aria-selected="true">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="false">MAGICIAN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false">Best Seller</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">
                        <div class="row justify-content-center">
                            {{#each products.products}}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-4">
                           
                                       <figure class="product-media">
                                        {{#if this.available_quantity}}
                                        {{else}}
                                                                                      <span class="product-label label-out">Out of Stock</span>
                                        {{/if}}
                                        <a href="/product?id={{this._id}}">
             
                                            <img src="/product-images/{{this._id}}.jpg" alt="Product image" class="product-image">
                                            {{!-- <img src="assets/images/demos/demo-17/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> --}}
                                        </a>

                                        <div class="product-action-vertical">
                                            <a onclick="addToWish('{{this._id}}')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action">
                                           
                                    <a onclick="addToCart('{{this._id}}')" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.product_categorie}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">{{this.product_name}}</a></h3><!-- End .product-title -->
                                       {{#if this.productoffer}}
                                        <div class="product-price">
                                           <p style="text-decoration-line: line-through;"> ${{this.product_price}}</p>
                                             ${{this.productoffer}}
                                        </div><!-- End .product-price -->
                                        {{else}}
                                         <div class="product-price">
                                            ${{this.product_price}}
                                        </div><!-- End .product-price -->                                       
                                        {{/if}}
                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
{{/each}}
                         
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-featured" role="tabpanel" aria-labelledby="tab-featured-link">
                        <div class="row justify-content-center">
                            {{#each products.productcat}}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-4">
                           
                                       <figure class="product-media">
                                        <a href="/product?id={{this._id}}">
             
                                            <img src="/product-images/{{this._id}}.jpg" alt="Product image" class="product-image">
                                            {{!-- <img src="assets/images/demos/demo-17/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> --}}
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.product_categorie}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">{{this.product_name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $60.00
                                        </div><!-- End .product-price -->
                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        {{/each}}
                         
                        </div><!-- End .row -->
                    </div><!-- .End .tab-pane -->

                    <div class="tab-pane fade" id="tab-best" role="tabpanel" aria-labelledby="tab-best-link">
                        <div class="row justify-content-center">
                            {{#each products.products}}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="product product-4">
                           
                                       <figure class="product-media">
                                        <a href="/product?id={{this._id}}">
             
                                            <img src="/product-images/{{this._id}}.jpg" alt="Product image" class="product-image">
                                            {{!-- <img src="assets/images/demos/demo-17/products/product-1-2.jpg" alt="Product image" class="product-image-hover"> --}}
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{this.product_categorie}}</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">{{this.product_name}}</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $60.00
                                        </div><!-- End .product-price -->
                                        <div class="product-nav product-nav-dots">
                                            <a href="#" class="active" style="background: #e5dcb1;"><span class="sr-only">Color name</span></a>
                                            <a href="#" style="background: #bacbd8;"><span class="sr-only">Color name</span></a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
{{/each}}
                         
                        </div>
                    </div>
                </div><!-- End .tab-content -->

                <div class="mb-3"></div><!-- End .mb-6 -->
            </div><!-- End .container -->
            

            {{!-- <div class="cta bg-image bg-dark pt-4 pb-5 d-flex justify-content-center" style="height:500px;">
                <div class="container">
                    <div class="row ">
                        <div class="col-sm-6 col-md-6 col-lg-6 ">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Sign up for email & get 25% off </h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">Subcribe to get information about products and coupons</p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->
                        
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                           
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                        <div style="margin-top: -40px; col-6">
                            <img src="/product-images/banner.webp" class="img-fluid" style="height: 500px;width: 550px;">
                        </div> 
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta --> --}}
            <div class="container">
                <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->
                
                <div class="cat-blocks-container">
                    <div class="row">
                        {{#each categorie}}
                        <div class="col-6 col-sm-4 col-lg-2">
                            <a href="/categorie?categorie={{this.categorie}}" class="cat-block">
                                <figure>
                                    <span>
                                        <img style="border-radius: 50%;" src="/categorie-images/{{this._id}}.jpg" alt="Category image">
                                    </span>
                                </figure>

                                <h3 class="cat-block-title">{{this.categorie}}</h3><!-- End .cat-block-title -->
                            </a>
                        </div><!-- End .col-sm-4 col-lg-2 -->
                        {{/each}}
                        
                    </div><!-- End .row -->
                </div><!-- End .cat-blocks-container -->
            </div><!-- End .container -->
            <div class="container-fluid" style="height:500px;background-color: #333333;">
                <div class="row">
                    <div class="col-6 d-flex flex-column align-items-center justify-content-center w-50 " style="height:500px">
                        <i style="color: #fff;font-size: 3rem;font-family: molla;">Subscribe For Alerts On Flash Sale</i>
                        <p style="color: white;font-size: 2rem;">On flash sale(80%  Off)</p>
                        <form>
                            
                            <input type="email" placeholder="Email" id="subscribe"  style="width: 100%; padding: 12px 20px; margin: 8px 0;display: inline-block; border: 1px solid #ccc; border-radius: 4px;box-sizing: border-box;" required<br>
                            <button type="button" onclick="Email('mail')" class="btn btn-secondary" style="border-radius: 8px;">Submit</button>
                        </form>
                 
                    </div>
                    <div class="col-6">
                            <img src="/product-images/banner.webp" class="img-fluid" style="height: 500px;width: 100%;">
                    </div> 
                </div>
            </div>


            <div class="container-fluid pt-5">
                <div class="heading text-center">
                    <h2 class="title">Follow us on instagram</h2><!-- End .title -->
                    <p class="title-desc">Our Best Selling Cards Will Be Updated On Instagram.</p><!-- End .title-desc -->
                </div><!-- End .heading -->

                <div class="owl-carousel owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": false,
                        "items": 5,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "360": {
                                "items":2
                            },
                            "600": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            },
                            "1200": {
                                "items":5
                            }
                        }
                    }'>
                    <div class="instagram-feed">
                        <img src="/product-images/pp.png" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>466</a>
                            <a href="#"><i class="icon-comments"></i>65</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="/product-images/ps.png" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>39</a>
                            <a href="#"><i class="icon-comments"></i>78</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="/product-images/pe.png" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>691</a>
                            <a href="#"><i class="icon-comments"></i>87</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="/product-images/ss.png" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>508</a>
                            <a href="#"><i class="icon-comments"></i>124</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->

                    <div class="instagram-feed">
                        <img src="/product-images/oo.png" alt="img">

                        <div class="instagram-feed-content">
                            <a href="#"><i class="icon-heart-o"></i>433</a>
                            <a href="#"><i class="icon-comments"></i>27</a>
                        </div><!-- End .instagram-feed-content -->
                    </div><!-- End .instagram-feed -->
                </div><!-- End .owl-carousel -->
            </div><!-- End .container-fluid -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-bottom">
                <div class="container">
                    {{!-- <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li> --}}
                    {{!-- </ul><!-- End .footer-menu --> --}}

                    <div class="social-icons social-icons-color">
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container ">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="/search" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="search" id="q" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                 
                        
                           <li class="megamenu-container active">
                                    <a href="/" class="">Home</a>

                                    
                                </li>
                                <li>
                                    <a href="/allproduct" class="">Products</a>

                                    
                                </li>
                                 <li>
                                    <a href="/dashboard" class="">Dashboard</a>

                                    
                                </li>
                                <li>
                                    <a href="/orders" class="">Orders</a>
                                </li>
                                   
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    

    <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="assets/images/popup/newsletter/logo.png" class="logo" alt="logo" width="60" height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the Molla eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div><!-- End .custom-checkbox -->
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="/product-images/banner.webp" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/bootstrap-input-spinner.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-17.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>


<!-- molla/index-17.html  22 Nov 2019 10:00:41 GMT -->
</html>
<script>
    function addToCart(proId){
        $.ajax({
            url:'/add-to-cart/'+proId,
            method:'get',
            success:(response)=>{
                if(response.status){
                    let count=$('#cart-count').html()
                    count=parseInt(count)+1
                    $("#cart-count").html(count)
                }
               
            }
        })
    }
</script>
<script>
    function addToWish(proId){
        $.ajax({
            url:'/add-to-wish/'+proId,
            method:'get',
            success:(response)=>{
                if(response.status){
                    let count=$('#wish-count').html()
                    count=parseInt(count)+1
                    $("#wish-count").html(count)
                }
               
            }
        })
    }
    function Email(){
          var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
                  mail= document.getElementById("subscribe").value
            if (mail.match(validRegex)) {


    swal("Good job!", "You had subscribed!", "success");

        $.ajax({
            url:'/mail',
            method:'post',
            data:{email:mail},
            success:(response)=>{
             
               
            }
        })

    return true;

  } else {

    swal("Try again!", "Invalid Email!", "warning");

    

    return false;

  }







    }
    
</script>